body{
    margin: 0;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
    background: url('images/wallpaperOfficial.jpg');
    background-size: cover;
    
    height: 100vh;
}

#button{
     display: none;
}

.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
    height: 100vh;
}

#cabecalho{
    display:inline-flex;
    width: 100%;
    height: 60px;
}#cabecalho a{
    text-decoration: none;
    color: white;
}#cabecalho a:hover{
    color: #00BDF5;
    transition: 0.5s;
}
#dadRow2{
    width: 40%;
    margin: auto;
}
a{
    vertical-align: middle;
}

#aboutMe{
    white-space: nowrap;
}

#name{
    margin-top: 15px;
}#name a{
    margin-top: 15px;
    font-size: large;
    white-space: nowrap;
}

@media(max-width: 1044px){
    #row2{
        margin-top: 14px;
        margin-left: 25%;
        margin-right: 25%;
    }

    #aboutMe, #projects, #blog, #contacts{
        padding-left: 0%;
        padding-right: 0%;
    }
    #aboutMe{
        padding-right: 10px;
    }
}

@media(max-width: 823px){
    #dadRow2{
        display: none;
    }
    #cabecalho{
        text-align: left;
    }
    #name{
        width: 190px;
    }
    #button{
        display:flex;
        position: absolute;
        margin-left: 85%;
        margin-top: 12px;
        width: 70px;
        text-align: center;
        padding-right: 0%;
        padding-left: 0%;
        width: 40px;
        height: 40px;
    }
    
    button{
        width: 40px;
        height: 40px;
        padding: 0%;
        border: none;
        font-size: small;
    }
    #dadRow2.active{
        display: block;
        width: 120px;
        background-color: rgba(255, 255, 255, 0.384);
    }
    .active{
        padding: none;
        position: absolute;
        top: 60px;
        right: 0px;
    }

    #list.activeL{
        display: grid;
    }#list a{
        padding: 1rem 0;
    }
    #aboutMe, #projects, #blog, #contacts{
        padding-right: 0%;
        text-align: center;
    }

    #btn_mobile{
        background: none;
        cursor: pointer;
        color: white;
    }
}
