body{
    background-color: rgb(99, 99, 99);
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
}
.container-fluid{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#cabecalho{
    background-color: black;
}


ul{
    list-style: none;
    padding-left: 0%;
    margin-bottom: auto;
}
.col-12 ul li a{
    color: black;
    text-decoration: none;
}.col-12 ul li a:hover{
    color: rgb(7, 130, 134);
    transition: 0.5s;
}

.col-12 ul ul{
    background-color: rgba(240, 248, 255, 0.349);
    display: none;
}

.col-12 ul .itens-projetos.mostra{
    display: block;
}

.col-12 ul .itens-contatos.mostra{
    display: block;
}