#gitTable{
    margin-top: 12%;
    position: absolute;
    bottom: auto;
    margin-left: 36%;
    margin-right: 36%;
}#gitLinks{
    position: absolute;
    bottom: 10px;
    margin-left: 36%;
    margin-right: 36%;
}#gitTable-child{
    padding: 0%;
}#gitTable a img{
    padding: 0%;
    width: 335px;
}
#gitLinks div{
    padding: 0%;
    margin-top: 5px;
}