#gitTable, #gitLinks{
    display: contents;
    
}#gitTable-child{
    margin-top: 10%;
    padding: 0%;
}#gitTable a img{
    padding: 0%;
    width: 335px;
}#gitLinks div{
    padding: 0%;
    margin-top: 5px;
}#gitLinks-child{
    position: absolute;
    bottom: 10px;
}