.cronometro-funcoes{
    display:flex;
    text-align: center;
    height: 91vh;
}

.cronometro-funcoes-child{
    margin: auto;
    margin-top: 100px;
    background-color: rgba(192, 191, 191, 0.5);
    width: 300px;
    height: 300px;
    border: 5px #000 solid;
    border-radius: 10px;
}

.timer-title{
    margin: auto;
    padding: 10px;
    width: 300px;
    font-size: xx-large;
}

.timer-number{
    border: 1px black solid;
    border-radius: 10px;
    width: 210px;
    margin: auto;
}
.buttons{
    padding-top: 40px;
}
#CronometroFuncoesC{
    border: 1px #000 solid;
}

.result{
    color: white;
    padding-top: 20px;
}

@media(max-width: 823px){
    button{
        width: 79px;
        height: 36px;
        padding: 0%;
        border: none;
        font-size: small;
    }
    #CronometroFuncoesC{
        padding-top: 2px;
    }
}