#backgroundFirstPart{
    background: url(https://raw.githubusercontent.com/jeffalves33/jeffalves33/main/img/backgroundatt.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.background{
    height: calc(100vh);
    padding-top: 16%;
}
