body{
    background-color: rgb(99, 99, 99);
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
    
    height: 100vh;
}
#button{
    display: none;
}
.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
    height: 100vh;
}

#cabecalho{
    display:inline-flex;
    width: 100%;
    height: 10%;
    background-color: white;
    color: black;
}#cabecalho a{
    text-decoration: none;
    color: black;
}#cabecalho a:hover{
    color: rgb(7, 130, 134);
    transition: 0.5s;
}
#row2{
    margin-top: 14px;
    margin-left: 25%;
    margin-right: 25%;
}
a{
    vertical-align: middle;
}

#aboutMe{
    white-space: nowrap;
}

#name{
    margin-top: 15px;
}#name a{
    margin-top: 15px;
    font-size: large;
    white-space: nowrap;
}

@media(max-width: 1040px){
    #row2{
        margin-top: 14px;
        margin-left: 25%;
        margin-right: 25%;
    }

    #aboutMe, #projects, #blog, #contacts{
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media(max-width: 991px){
    #dadRow2{
        display: none;
    }
    #cabecalho{
        text-align: left;
    }
    #name{
        width: 190px;
    }
    #button{
        display:flex;
        position: absolute;
        margin-left: 90%;
        margin-top: 12px;
        width: 70px;
        text-align: center;
        padding-right: 0%;
        padding-left: 0%;
        width: 40px;
        height: 40px;
    }
    
    button{
        width: 40px;
        height: 40px;
        padding: 0%;
        border: none;
    }
}
